.vertical-timeline {
  margin: 0 !important;

  & .vertical-timeline-element {
    /* max-width: 600px; */

    & .vertical-timeline-element-content {
      border-radius: var(--border-radius-sm);
      background-color: var(--color-white);
    }

    & h4,
    h3 {
      color: var(--color-primary);
    }

    & .vertical-timeline-element-date {
      background-color: var(--color-secondary);
      color: var(--color-primary);
      padding: var(--padding-xs) var(--padding) !important;
      border-radius: var(--padding);
    }
  }
}
