* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --max-width: 1200px;
  --body-background-color: whitesmoke;
  --colour-primary: #000c05;
  --color-primary: #000c05;
  --color: #333;
  --black: #020101;
  --color-white: whitesmoke;
  --color-secondary: #bb1bff;
  --color-secondary-dark: #9114a2;
  --color-secondary-light: #e478ff;
  --color-secondary-lighter: #f4d7fd;
  --card-background-color-secondary: #7272721c;

  --card-background-color: rgba(255, 255, 255, 0.943);
  --header-link-indicator-background-color: var(--color);
  --navbar-background-color: whitesmoke;
  --color-invert: #000;

  --border-color: #919191;

  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-color-dark: rgba(0, 0, 0, 0.3);
  /* margin */
  --margin: 16px;
  --margin-l: 24px;
  --margin-xl: 32px;
  --margin-md: 12px;
  --margin-xxl: 48px;
  --margin-xxxl: 84px;
  --margin-sm: 8px;
  --margin-xs: 4px;

  /* gap */
  --gap: 16px;
  --gap-l: 24px;
  --gap-xl: 32px;
  --section-gap: 80px;

  /* font */
  --font-family: "Raleway", sans-serif;
  --font-size-sm: 1rem;
  --font-size-xs: 0.8rem;
  --font-size-normal: 1.2rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.5rem;

  /* line-height */
  --line-height: 1.5;

  /* Padding */
  --padding: 1rem;
  --padding-l: 1.5rem;
  --padding-sm: 0.5rem;
  --padding-xs: 0.25rem;
  --padding-xl: 2rem;

  /* width */
  --header-nav-max-width: 550px;

  /* transition */
  --transition-duration: 0.5s;

  /* Border */
  --border-radius-sm: 0.5rem;
  --border-radius-normal: 0.8rem;
  --border-radius-l: 1rem;
  --border-radius-xl: 1.5rem;
  --border-radius-circle: 50px;
}
/* GENERAL */
.section-wrapper {
  padding: 1rem 1rem 5rem;
  max-width: var(--max-width);
}
/* utility */
.padding-top-2rem {
  padding-top: 2rem;
}
.padding-top-1rem {
  padding-top: 1rem;
}
.margin-bottom-2rem {
  margin-bottom: 2rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
  font-family: var(--font-family);
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-background-color);
  color: var(--color);
  max-width: var(--max-width);
  padding-bottom: 100px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; /* or 900 for a bolder style */
  color: var(--color-primary);
}
/* p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
text,
strong,
b,
figcaption {
  
} */
p,
a,
li,
span,
figcaption,
text {
  line-height: var(--line-height, 1.5);
  color: var(--color);
}
a {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  color: inherit;
  font-size: var(--font-size-sm);
  transition: color var(--transition-duration);
  line-height: unset !important;
}
h2 {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: var(--font-size-xl);
}
h3 {
  font-size: var(--font-size-l);
}

ul {
  list-style-type: none;
}
.header.visible .header__wrapper {
  top: 0;
}
.header.hidden .header__wrapper {
  top: -90px;
}
.header__wrapper {
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-bottom-left-radius: var(--border-radius-l);
  border-bottom-right-radius: var(--border-radius-l);
  box-shadow: 0 2px 25px var(--shadow-color);
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  background-color: var(--card-background-color);
  z-index: 1000;

  /* background: var(--colour-primary); */
}
header ul {
  flex: 2 !important;
  display: flex;
  /*background-color: red;*/
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
header ul li .switch {
  justify-self: flex-end;
}
.header a {
  text-decoration: none;
}
header ul li a {
  font-weight: 600;
  color: var(--color);
  transition: var(--transition-duration);
}
header ul li a.active {
  background-color: var(--header-link-indicator-background-color);
  /* color: var(--color-white); */
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-l);
}
header:has(ul li a.active) a.active {
  color: var(--body-background-color);
}
.header__menu {
  place-content: center;
  gap: 3px;
  padding: 1px;
  background-color: #00000000;
  border: unset;
  display: none;
}
.header__menu span {
  width: 35px;
  height: 4px;
  border-radius: var(--border-radius-l);
  background-color: var(--color-primary);
  /*position: absolute;*/
  transition: 0.25s;
}
.header__menu.clicked span:nth-of-type(2) {
  display: none;
}

.header__menu.clicked span:nth-of-type(1) {
  transform: translateY(5px) rotate(45deg);
}

.header__menu.clicked span:nth-of-type(3) {
  transform: rotate(-45deg);
}

/* Home | hero */
.hero {
  margin-top: 90px;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  gap: var(--padding);
  background-image: url("https://www.pcmicorp.com/wp-content/uploads/2024/06/TC-hero-dot-pattern.png");
  background-size: cover;
  background-repeat: no-repeat;

  /* text-align: center; */
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 60vh;
  padding: 2rem 0;
  max-width: 600px;
  margin: 0 auto;
  gap: var(--padding-l);
}

.hero__content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  /* font-family: poppins, sans-serif; */
  color: var(--colour-primary, #4437f7);
}

.hero__content p {
  font-size: var(--font-size-sm, 1.2rem);
  margin-bottom: 2rem;
}
.hero__cta,
.social-link {
  font-size: inherit;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border-radius: var(--border-radius-l, 1.5rem);
}
.hero__cta {
  background: var(--color-primary);
  padding: 0.75rem 2rem;
  display: inline-block;
  color: var(--color-white);
  font-weight: 600;
  box-shadow: 0 2px 12px var(--shadow-color, rgba(68, 55, 247, 0.2));
}
.social-link {
  padding: 0.3rem;
}

.hero__cta--secondary {
  background-color: var(--color-white);
  color: var(--color);
  border: 2px solid var(--border-color);
}

.hero__cta:hover {
  background: var(--color-secondary, #bb1bff);
  box-shadow: 0 0 15px var(--shadow-color-dark, rgba(68, 55, 247, 0.2));
  color: var(--color-white);
}
.social-link:hover {
  box-shadow: 0 0 15px var(--shadow-color-dark, rgba(68, 55, 247, 0.2));
  color: var(--color-secondary, #bb1bff);
  transform: translateY(-5px);
}

.hero__content,
.hero__image {
  flex: 1;
}

.hero__image {
  /* background: rgb(255, 255, 255); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: var(--border-radius-l); */
}
.hero__image figure {
  box-shadow: 0 0 25px var(--shadow-color);
  padding: 1rem;
  width: 400px;
  height: 400px;
  border-radius: var(--border-radius-l);
  background-color: var(--color-white);
}
.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: var(--border-radius-l);
}

/* skills */
.skill__wrapper > div:first-of-type {
  margin-bottom: var(--margin-xl);
}
.skills__wrapper-inner-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--section-gap);
}
.skills__h3 {
  margin: 0 0 2rem;
}
.skills__h4 {
  font-size: var(--font-size-l);
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-primary);
  width: fit-content;
  padding: var(--padding-xs) var(--padding-l);
  border-radius: var(--border-radius-l);
  margin-bottom: var(--margin-md);
  margin: var(--margin-l) auto;
}
.skills__ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  /* background: #000; */
  justify-content: center;
  gap: 1rem;
}
.skill__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 250px;
  gap: 0.5rem;
  max-width: 300px;
  padding: var(--padding-xl) var(--padding);
  border-radius: var(--border-radius-l);
  background-color: var(--color-white);
  box-shadow: 0 2px 25px var(--shadow-color);
}
/* .skill__item figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
.skill__item figcaption {
  font-weight: 600;
  margin-top: var(--margin-md);
  text-align: center;
}
.skill__item figure img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  padding: calc(var(--padding) / 2);
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius-l);
  background-color: var(--color-white);
  box-shadow: 0 2px 25px var(--shadow-color);
}
.skill-set {
  background-color: var(--navbar-background-color);
  box-shadow: var(--shadow-color);
  margin: 1rem 0 2rem;
  padding: 0.2rem var(--padding);
  border-radius: var(--border-radius-l);
  font-size: var(--font-size-xs);
}

.skills-overview {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--section-gap);
}
.overview {
  background-color: var(--black);
  padding: var(--padding-l);
  border-radius: var(--border-radius-l);
  border: 2px solid var(--border-color);
  box-shadow: 0 2px 25px var(--shadow-color);

  & h3 {
    margin-bottom: var(--margin-xl) !important;
  }

  & * {
    color: whitesmoke;
  }

  & .graphic-design-overview__content,
  & .programming-skill-overview__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: var(--gap-xl);

    & div {
      width: fit-content;

      & p {
        color: lightgray;
      }
      & strong {
        font-size: var(--font-size-xl);
        font-weight: 600;
      }
    }
  }
}
.work-experience__wrapper {
  background-color: var(--card-background-color-secondary);
  border-radius: var(--border-radius-l);

  & h2 {
    color: var(--color-primary);
    margin-bottom: var(--margin-xl) !important;
  }
}

/* footer */
.footer {
  & .footer__section-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: var(--gap-xl);

    & p,
    h3 {
      margin-bottom: 2rem;
    }
    & p {
      max-width: 45ch;
    }
  }
  & a {
    font-weight: 600;
  }
  & ul {
    display: grid;
    row-gap: var(--gap);
  }

  & .footer__let-connect a {
    text-decoration: none;
  }
}

@media screen and (min-width: 700px) {
  .hero__wrapper {
    flex-direction: row;
    height: auto;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 840px) {
  .footer__section-wrapper {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media screen and (max-width: 700px) {
  header ul {
    display: none;
  }
  header :has(.header__menu.clicked) ul {
    padding: 100px 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    width: min(350px, 90%);
    background-color: var(
      --navbar-background-color,
      var(--card-background-color)
    );
    box-shadow: 0 2px 25px var(--shadow-color);
    border-radius: var(--border-radius-l);
    /* border: 2px solid var(--border-color); */
  }
  header :has(.header__menu.clicked) ul li {
    width: 100%;
  }
  header :has(.header__menu.clicked) ul a {
    display: inline-block;
    width: 100%;
    text-align: right;
  }
  .header__menu {
    display: grid;
  }
  .footer__section-wrapper {
    grid-template-columns: 1fr !important;
  }
}
